*.scssc
gravatar.*.jpg
.DS_Store
bower_components
/wp-content/plugins/index.php
/wp-content/plugins/mhm-catch-comment-spam
/wp-content/plugins/jetpack
/wp-content/plugins/rest-api
/wp-content/themes/twentysixteen
