*.scssc
gravatar.*.jpg
.DS_Store
bower_components
/cms/wp-content/plugins/index.php
/cms/wp-content/plugins/mhm-catch-comment-spam
/cms/wp-content/plugins/jetpack
/cms/wp-content/plugins/rest-api
/cms/wp-content/themes/twentysixteen
