$font-overpasslight: overpasslight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$font: $font-system;

$white: #f0f0f0;

$red100:    #EB0000;
$red125:    #C60018;
$red150:    #A20013;

$black5:    #F6F6F6;
$black10:   #E5E5E5;
$black20:   #D2D2D2;
$black30:   #BDBDBD;
$black40:   #A8A8A8;
$black50:   #808080;
$black60:   #767676;
$black70:   #686868;
$black80:   #5A5A5A;
$black90:   #444444;
$black95:   #262626;
$black100:  #1E1E1E;

$green100: #7c9600;
$green90: #6f8700;
$green80: #637800;
$green70: #566900;
$green60: #4a5a00;
$green50: #3e4b00;
$green40: #313c00;
$green30: #252d00;
$green20: #181e00;
$green10: #0c0f00;

$slack: rgb(100,74,97);
$wordpress: #0087be;

$body-colour: $black80;

$title-colour: $black100;
$title-weight: 300;

$link-colour: $green90;
$link-underline: lighten(desaturate($link-colour, 50%), 50%);

@mixin icon() {
    vertical-align: middle;
    &:before {
        font-family: dashicons;
        font-weight: normal;
        display: inline-block;
        font-size: 24px;
        content: '';
        margin-right: .25rem;
    }
    &.button-facebook:before {
        content: "\f304";
    }
    &.button-slack:before {
        content: "\f307";
    }
    &.button-twitter:before {
        content: "\f301";
    }
    &.button-wordpress:before {
        content: "\f324";
    }
}
