$overpasslight: overpasslight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$white: #f0f0f0;

$green: rgb(124, 150, 0);
$red100:    #EB0000;
$red125:    #C60018;
$red150:    #A20013;

$black5:    #F6F6F6;
$black10:   #E5E5E5;
$black20:   #D2D2D2;
$black30:   #BDBDBD;
$black40:   #A8A8A8;
$black50:   #808080;
$black60:   #767676;
$black70:   #686868;
$black80:   #5A5A5A;
$black90:   #444444;
$black95:   #262626;
$black100:  #1E1E1E;
