@import 'config';

@import 'typography';

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    > :last-child {
        margin-top: auto;
    }
}

.content {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
}

.page-footer {
    padding: 2vh 0;
}

.mod.aside {
    @media screen and (min-width: 768px){
        flex-basis: 25%;
    }
}

.mod.main {
    @media screen and (min-width: 768px){
        flex-basis: 75%;
        padding-right: 2vw;
    }
}

.mod.page-header {
    align-self: flex-end;
    flex-basis: 25%;
}


.nav.main {
    flex-basis: 100%;
}
