html {
    @media screen and (min-resolution: 2dppx) {
        -webkit-font-smoothing: antialiased;
    }

    @each $breakpoint, $size in $body-sizes {
        @include breakpoint($breakpoint) {
            font-size: $size;
        }
    }
}

body {
    @each $breakpoint, $weight in $body-weights {
        @include breakpoint($breakpoint) {
            font-weight: $weight;
        }
    }
}

a {
    border-bottom: 1px solid rgba($anchor-color, .2);
    &:hover {
        border-color: rgba($anchor-color, .5);
    }
    &.button {
        border: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    a {
        color: inherit;
        border: none;
    }
}

@each $size, $headers in $header-weights {
    @include breakpoint($size) {
        @each $header, $weight in $headers {
            #{$header} {
                font-weight: $weight;
            }
        }
    }
}

ul.inline {
    list-style-type: none;
    margin: 0;
    li {
        display: inline;
    }
}

.is-icon {
    display: inline-block;
    font-size: 0;
    text-indent: -800rem;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    background: rgba($green70, .5) center/75% auto no-repeat;
    border: none;
    border-radius: $global-radius;
    margin: .2rem;
    &.burger {
        @include css-button-menu(
            $css-button-menu-colour: $white,
            $css-button-menu-speed: 150ms
        );
        background: none;
    }
    &.envelope {
        background-image: url('../Icons/FA/envelope.svg');
        &:hover {
            background-color: $yellow;
        }
    }
    &.facebook {
        background-image: url('../Icons/FA/facebook.svg');
        &:hover {
            background-color: $facebook;
        }
    }
    &.slack {
        background-image: url('../Icons/FA/slack.svg');
        &:hover {
            background-color: $slack;
        }
    }
    &.twitter {
        background-image: url('../Icons/FA/twitter.svg');
        &:hover {
            background-color: $twitter;
        }
    }
    &.wordpress {
        background-image: url('../Icons/FA/wordpress.svg');
        &:hover {
            background-color: $wordpress;
        }
    }
    @include breakpoint(medium only) {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.mod.aside {
    font-size: .825rem;
}

.mod.page-footer {
    font-size: .75rem;
}

.mod.page-header {
    color: $white;
}

.profile-content {
    font-size: .75rem;
}

.page-title {
    font-size: 1rem;
    font-weight: $global-weight-bold;
    margin: 0;
}

.page-subtitle {
    font-size: .75rem;
    margin: 0;
}

.section-title {
    font-weight: $global-weight-bold;
}

.post-date {
    display: block;
    font-size: $small-font-size;
    margin: 0;
}

.post-footer {
    font-size: $small-font-size;
}

.post-header {
    margin-bottom: 1rem;
}
