@import '/Volumes/web/helpers/scss/flood';
@import '/Volumes/web/helpers/scss/icon_burger';

@import 'config';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
// @include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
@include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;



@import 'typography';

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    @include flex-centered;
    flex-direction: column;
    min-height: 100vh;
}

html.burger-open {
    overflow: hidden;
    body {
        overflow: hidden;
        &:before {
            @include breakpoint(small only){
                content: '';
                display: block;
                background: rgba($black100, .8);
                @include flood(1);
                position: fixed;
            }
        }
    }
}

.container {
    max-width: 90rem;
    @include flex-centered;
    flex: 1;
    @include breakpoint(lessthanmedium down){
        padding: $toolbar-height+1rem 0 0;
    }
    @include breakpoint(medium){
        align-items: flex-start;
        justify-content: flex-end;
    }
    @include breakpoint(large){
        justify-content: center;
    }
    @include breakpoint(xlarge){
        max-width: 100%;
        justify-content: flex-start;
    }
    @include breakpoint(xxlarge){
        justify-content: center;
    }
}

.mod.page-content, .mod.page-footer {
    flex: 0 0 100%;
    padding: 2vh 0;
    @include breakpoint(medium){
        flex-basis: 2/3 * 100%;
        max-width: 45rem;
        padding-top: 1.5rem;
        padding-right: 1rem;
    }
    @include breakpoint(large){
        margin-left: calc(25vw + 2rem);
    }
    @include breakpoint(xlarge){
        padding-top: calc(8vh - 2rem);
        padding-bottom: 4vh;
    }
    @include breakpoint(xxlarge){
        margin-left: auto;
        margin-right: auto;
    }
}

.mod.page-footer {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    @include breakpoint(medium){
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
}

.mod.page-header {

    background: linear-gradient($green100 calc(100% - 1rem), $green90 100%);

    .profile-image {
        width: 2rem;
        height: 2rem;
        margin: 0 2vw 0 0;
        border-radius: 50%;
        background-color: $green100;
        box-shadow: $box-shadow1;
        @media screen and (min-height: map-get($breakpoint-heights, smartphone_wide_height)){
            width: 4rem;
            height: 4rem;
        }
        @include breakpoint(medium){
            width: 8rem;
            height: 8rem;
            margin: 0 0 1rem;
        }
    }

    .profile-content {
        @include flex-centered;
        justify-content: space-between;
    }

    @include breakpoint(smartphone_wide){
        @include flex-centered;
        justify-content: space-between;
    }

    @include breakpoint(lessthanmedium down){
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 12;
        min-height: $toolbar-height;
    }

    @include breakpoint(medium){
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30vw;
        padding-right: 1rem;
        background: linear-gradient($green100 50%, $green90);
        box-shadow: inset -.25rem 0 .25rem 0 rgba($black100, .1);
    }
    @include breakpoint(large){
        width: 25vw;
    }
    @include breakpoint(xlarge){
        width: 20vw;
    }
    @include breakpoint(xxxlarge){
        width: 15vw;
    }

}

.mod.page-toolbar {
    @include flex-centered;
    flex: 1;
    justify-content: flex-start;
    padding: .5rem $outer-gutter-x;
    :last-child {
        margin-left: auto;
    }
    @include breakpoint(medium){
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding: 8vh 0 1vh;
    }
}

.mod.nav {
    margin: 1rem 0;
    &.main {
        margin: 0;
        @include flex-centered;
        justify-content: center;
        flex-basis: 100%;
        padding: 1rem $outer-gutter-x;
        ul {
            .menu-item {
                text-align: center;
                flex-basis: 20%
            }
        }
        @include breakpoint(smartphone_wide){
            background: none;
            flex: 0 0 50%;
            justify-content: flex-end;
        }
        @include breakpoint(medium){
            padding: 1rem 0;
            align-items: flex-end;
        }
        @include breakpoint(xlarge){
            padding-bottom: 4vh;
        }
    }
}
